/* CSS Document */

body
{
	margin:0px;
}

.cs_login_frame
{
	width:100%;
	height:100%;
	padding:20px;

	background-color:#fff;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

.cs_container
{
	display:flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width:100%;
}

.cs_loginLeft 
{
	width:648px;
	height:1080px;
	display: table-cell; /*테이블처럼 만듦*/
}


.cs_SystemTitle 
{
	width:522px;
	height:204px;
	margin-left:63px;
	margin-right:63px;
	margin-top:390px;
	display:inline-block;
}

.cs_SystemTitle .cs_icon 
{
	width:88px;
	height:99px;
	margin:0 auto;
	text-align:center;
}

.cs_SystemTitle .cs_Stitle 
{
	width:522px;
	height:45px;
	color:#fff;
	font-size:40px;
	text-align:center;
	margin-top:18px;
	line-height:40px;
}

.cs_SystemTitle .cs_Etitle 
{
	width:522px;
	height:26px;
	color:#fff;
	font-size:14px;
	text-align:center;
	margin-top:15px;
	line-height:30px;
}

.cs_center 
{
	background:#fff;
	width:428px;
	height:341px;
	margin:0 auto;
}

.cs_title 
{
	height:29px;
	text-align:center;
	font-weight:bold;
	font-size:22px;	
	margin:0 auto;
	color:#7b7b7b;
}

.cs_center #id_id, .cs_center #id_pw
{
	width:412px;
	height:69px;
	border:1px solid #eef2fd;
	border-radius:5px;
	box-shadow: 0px 0px 5px 2px #d3efe3; /*왼쪽, 밑, 빛번짐, 빛진하기?, 색깔*/
}

.cs_btn 
{
	width:428px;
	height:69px;
	border-radius:5px;
	margin-top:42px;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	line-height:70px;
}

.cs_datatable 
{
	width:100%;
	table-layout:fixed;
	border:1px solid #cfcfcf;
	box-shadow:0px 5px 3px 3px #ebebeb;
	background-color:#fff;
	font-size:12px;
	margin-top:10px;
}

.cs_datatable th 
{
	color:#fff;
	font-weight:bold;
	font-size: 13px;
	height:35px;
	border:1px solid #cfcfcf;
	text-align: center;
}

.cs_datatable td 
{
	height:25px;
	border:1px solid #cfcfcf;
	text-align:left;
	padding-left: 15px;
} 